alembic==0.9.9
atomicwrites==1.2.1
attrs==18.2.0
autopep8==1.4
beautifulsoup4==4.6.0
bs4==0.0.1
build==1.0.2
certifi==2018.4.16
chardet==3.0.4
click==6.7
colorama==0.3.9
cssselect==1.0.3
cssutils==1.0.2
Cython==0.29
Flask==1.0.2
Flask-Admin==1.5.1
Flask-Cache==0.13.1
Flask-Caching==1.4.0
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
futures==3.1.1
gunicorn==19.8.1
html5lib==1.0.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.5
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.0
more-itertools==4.3.0
omdb==0.10.0
parse==1.8.4
pathlib2==2.3.2
pkginfo==1.4.2
pluggy==0.7.1
psycopg2==2.7.6.1
py==1.6.0
pycodestyle==2.4.0
PyJWT==1.6.4
pyquery==1.4.0
pytest==3.8.0
python-dateutil==2.7.2
python-editor==1.0.3
requests==2.18.4
requests-toolbelt==0.8.0
rope==0.11.0
scandir==1.9.0
schedule==0.5.0
six==1.12.0
SQLAlchemy==1.2.7
tqdm==4.26.0
twine==1.11.0
urllib3==1.22
w3lib==1.19.0
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.1
